In [32]:
# LIBRERIAS BASE

from google.colab import files
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [33]:
def calculate_vif_(X):
    variables = list(range(X.shape[1]))
    vif = [variance_inflation_factor(X.iloc[:, variables].values, ix)
               for ix in range(X.iloc[:, variables].shape[1])]
    print(X.columns[variables])
    return vif

In [34]:
#DATA LOADING & PREVIEW

url = 'https://raw.githubusercontent.com/AlejandroPSJ2/Data_Mining/main/Clase6_example6_winequality.csv'
df = pd.read_csv(url,sep=';')
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality_7
0            7.4              0.70         0.00  ...       0.56      9.4          0
1            7.8              0.88         0.00  ...       0.68      9.8          0
2            7.8              0.76         0.04  ...       0.65      9.8          0
3           11.2              0.28         0.56  ...       0.58      9.8          0
4            7.4              0.70         0.00  ...       0.56      9.4          0

[5 rows x 12 columns]

In [38]:
#DATA PREPARATION (VERY IMPORTANT TO DIFFERENTIATE "X" AND "DF")

X = df  # PRIMERO ELIMINAR VARIABLES QUE NO VAN A IR EN EL ALGORITMO
X = pd.get_dummies(X)  # ACA SE CREAN DUMMIES (EN CASO HAYA ALGUNA VARIABLE CATEGORICA, SI NO HAY NO CREARA NADA)
X.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality_7
0            7.4              0.70         0.00  ...       0.56      9.4          0
1            7.8              0.88         0.00  ...       0.68      9.8          0
2            7.8              0.76         0.04  ...       0.65      9.8          0
3           11.2              0.28         0.56  ...       0.58      9.8          0
4            7.4              0.70         0.00  ...       0.56      9.4          0

[5 rows x 12 columns]

In [39]:
X = X.drop(columns=['citric acid','free sulfur dioxide','pH','density','fixed acidity','sulphates'])   # EN CASO ESTEMOS CREANDO DUMMIES PARA CATEGORICAS SIEMPRE ELIMINAR 1 DE LAS N OPCIONES QUE SE CREAN (SOLO QUEDARIAN N-1 FLAGS POR CADA CATEGORICA)
X.head()

   volatile acidity  residual sugar  ...  alcohol  quality_7
0              0.70             1.9  ...      9.4          0
1              0.88             2.6  ...      9.8          0
2              0.76             2.3  ...      9.8          0
3              0.28             1.9  ...      9.8          0
4              0.70             1.9  ...      9.4          0

[5 rows x 6 columns]

In [40]:
# ALGORITHM FIT

dep = 'quality_7'  # ACA SOLO MODIFICAR LA VARIABLE DEPENDIENTE "dep", DEJAR TODO LO DEMAS IGUAL

mod = sm.Logit(X[dep], sm.add_constant(X.drop(columns=[dep])))
res = mod.fit()
print(res.summary())
print('')
print('VIF RESULTS')
print('')
calculate_vif_(X.drop(columns=[dep]))

Optimization terminated successfully.
         Current function value: 0.290724
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:              quality_7   No. Observations:                 1599
Model:                          Logit   Df Residuals:                     1593
Method:                           MLE   Df Model:                            5
Date:                Wed, 10 Mar 2021   Pseudo R-squ.:                  0.2679
Time:                        01:18:15   Log-Likelihood:                -464.87
converged:                       True   LL-Null:                       -634.96
Covariance Type:            nonrobust   LLR p-value:                 2.271e-71
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   -9.0144      1.030     -8.750      0.000     -11.034      -6.995
volatile acidity        -4.6593      0.585     -7.959      0.000      -5.807      -3.512
residual sugar           0.1287      0.056      2.306      0.021       0.019       0.238
chlorides               -4.7774      3.288     -1.453      0.146     -11.223       1.668
total sulfur dioxide    -0.0118      0.003     -3.730      0.000      -0.018      -0.006
alcohol                  0.9102      0.081     11.300      0.000       0.752       1.068
========================================================================================

VIF RESULTS

Index(['volatile acidity', 'residual sugar', 'chlorides',
       'total sulfur dioxide', 'alcohol'],
      dtype='object')

[8.539915129558175,
 4.477715433181133,
 4.204061188734222,
 3.068337158158669,
 11.893559983498434]