In [94]:
# LIBRERIAS BASE

from google.colab import files
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [95]:
def calculate_vif_(X):
    variables = list(range(X.shape[1]))
    vif = [variance_inflation_factor(X.iloc[:, variables].values, ix)
               for ix in range(X.iloc[:, variables].shape[1])]
    print(X.columns[variables])
    return vif

In [96]:
#DATA LOADING & PREVIEW

url = 'https://raw.githubusercontent.com/JoseDavidDiaz/Data_Mining/main/Ventas_Trabajo.csv'
df = pd.read_csv(url,sep=',')
df.head()

   Ventas  grpsTV  Radio  Prensa  ...  mailing1  mailing2  mailing3  mailing4
0    2422     246      0       0  ...         0      8001         0         0
1    2891     301  68189       0  ...         0      3200         0         0
2    3122     241  81826       0  ...         0      1280         0         0
3    3030     210  84554       0  ...         0       512         0         0
4    2584      87  85099       0  ...         0       205         0         0

[5 rows x 11 columns]

In [97]:
#DATA PREPARATION (VERY IMPORTANT TO DIFFERENTIATE "X" AND "DF")

X = df # PRIMERO ELIMINAR VARIABLES QUE NO VAN A IR EN EL ALGORITMO
X = pd.get_dummies(X)  # ACA SE CREAN DUMMIES (EN CASO HAYA ALGUNA VARIABLE CATEGORICA, SI NO HAY NO CREARA NADA)
X.head()

   Ventas  grpsTV  Radio  Prensa  ...  mailing1  mailing2  mailing3  mailing4
0    2422     246      0       0  ...         0      8001         0         0
1    2891     301  68189       0  ...         0      3200         0         0
2    3122     241  81826       0  ...         0      1280         0         0
3    3030     210  84554       0  ...         0       512         0         0
4    2584      87  85099       0  ...         0       205         0         0

[5 rows x 11 columns]

In [98]:
X = X # EN CASO ESTEMOS CREANDO DUMMIES PARA CATEGORICAS SIEMPRE ELIMINAR 1 DE LAS N OPCIONES QUE SE CREAN (SOLO QUEDARIAN N-1 FLAGS POR CADA CATEGORICA)
X.head()

   Ventas  grpsTV  Radio  Prensa  ...  mailing1  mailing2  mailing3  mailing4
0    2422     246      0       0  ...         0      8001         0         0
1    2891     301  68189       0  ...         0      3200         0         0
2    3122     241  81826       0  ...         0      1280         0         0
3    3030     210  84554       0  ...         0       512         0         0
4    2584      87  85099       0  ...         0       205         0         0

[5 rows x 11 columns]

In [99]:
# ALGORITHM FIT

dep = 'Ventas'  # ACA SOLO MODIFICAR LA VARIABLE DEPENDIENTE "dep", DEJAR TODO LO DEMAS IGUAL

mod = sm.Logit(X[dep], sm.add_constant(X.drop(columns=[dep])))
res = mod.fit()
print(res.summary())
print('')
print('VIF RESULTS')
print('')
calculate_vif_(X.drop(columns=[dep]))

ValueError: ignored